.ctaBg {
  background-image: url("../images/bg-boost-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  background-size: cover;
  padding: 4rem;
}
.ctaContent h2 {
  font-size: 2rem;
  color: white;
}
.ctaContent {
  text-align: center;
}
