.sectionPadding {
  padding: 0 0.5rem 3rem 0.5rem;
}
.titleWrapper {
  margin: auto;
  width: 35rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.featuresItem {
  background-color: white;
  padding: 3.8rem 1.5rem 2rem 1.5rem;
  position: relative;
  height: 120px;
  width: 16rem;
}
.featuresIcon {
  background-color: hsl(257, 27%, 26%);
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}
.featuresIcon > img {
  height: 40px;
}
.featuresItem > p {
  font-size: 0.8rem;
  padding-top: 0.6rem;
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  line-height: 1.5;
  max-width: 15.5rem;
}
.second {
  margin-top: 3rem;
}
.third {
  margin-top: 5rem;
}
.second::before {
  content: "x";
  position: absolute;
  top: 40%;
  font-size: 1px;
  z-index: -1;
  left: -5rem;
  width: 500px;
  color: hsl(180, 66%, 49%);
  height: 10px;
  background-color: hsl(180, 66%, 49%);
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .featuresItem {
    width: 11rem;
    height: 150px;
  }
}

@media screen and (max-width: 750px) {
  .featuresGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .second::before {
    left: -31%;
    right: 0%;

    transform: rotate(90deg);
  }
  .third {
    margin-top: 3rem;
  }
  .featuresIcon {
    right: 37%;
  }
}
