.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 482px;
  overflow: hidden;
  padding-bottom: 6rem;
}
.headerContent {
  position: relative;
  max-width: 45rem;
  z-index: 1;
}
.headerSubtitle {
  width: 70%;
}
.headerImg {
  position: absolute;
  right: -5%;
  max-width: 600px;
  z-index: 0;
}
@media screen and (max-width: 900px) {
  .headerImg {
    margin-right: -30%;
    opacity: 0.8;
  }
}
@media screen and (max-width: 650px) {
  .headerImg {
    position: relative;
    align-self: flex-end;
    max-width: 150%;
    margin-top: 5rem;
    margin-right: -50%;
    margin-bottom: 2rem;
  }
  .headerSubtitle {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
  }
  .header {
    flex-direction: column-reverse;
    height: 80vh;
    padding: 0 2rem;
    padding-bottom: 14rem;
  }
  .headerContent {
    text-align: center;
    margin: auto;
  }
}